@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.ol-zoom {
  display: none;
}

.search {
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  z-index: 5000;
  padding: 0 .5em;
  top: 0;
  left: 0;
  width: 18em;
  max-height: 100%;
  white-space: nowrap;
  overflow: scroll;
  display: block;
}

.search form {
  margin: .5em 0;
  background-color: rgba(255, 255, 255, .75);
  width: 100%;
  /* position: fixed; */
}

.ui-menu {
  list-style: none;
  padding: .5em 0;
  margin: .5em 0;
}

.result {
  background-color: antiquewhite;
  width: 24em;
  height: 20em;
}