@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-zoom {
  display: none;
}

#btnA4O img {
	height: 1.9rem;
	padding: .2rem;
}

#afo-search {
  background-color: rgba(255, 255, 255, .80);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
	min-height: 3.5rem;
	max-height: 100%;
	overflow: auto;
}

#afo-results {
	display: none;
	z-index: 1010;
	padding: 4rem .5rem .5rem .5rem;
}

.list-group-item {
	font-size: .8rem;
	background-color: transparent;
	padding: .4rem 0rem;
}

#afo-search form {
	z-index: 1500;
	background-color: rgba(255, 255, 255, .80);
	padding: .8rem 1rem;
}

.input-group-text {
	padding: 0 0 !important;
	background-color: transparent !important;
}

#clear-btn {
	position: absolute;
	top: 1.3rem;
	right: 1.5rem;
	border: none !important;
	font-size: .75rem;
	line-height: 1.25;
	background-color: whitesmoke;
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.25);
	display: none;
}

.selected {
	background-color: rgba(242, 174, 46, .15);
	/* background-image: url("img/map-marker-orange-32.png"); */
}
